html { 
    background: url(glab.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    color: #0d1929;
    background-color: #e0e4e590;
}
.room {
    border: 3px solid #104066;
    border-radius: 10px;
}
.myroom {
    background-color: #a7afb790;
    border: 5px solid #104066;
    border-radius: 10px;
}
.rmembers {
    background-color: #cdd4e090;
    border-radius: 6px;
}
.devprop {
    border-radius: 10px;
}
.actmember {
    border-radius: 4px;
} 
.psvmember {
    border-radius: 4px;
}
.devclaim {
    border-radius: 10px;
}
