html { 
    background: url(jazz.jpg) no-repeat center center fixed; 
}
body {
    color: #0d1929;
    background-color: #e0e4e570;
}
.room {
    background-color: #b7b2b770;
    border: 2px solid #6350a5;
    border-radius: 10px;
}
.myroom {
    background-color: #b7a7b770;
    border: 6px solid #6350a5;
    border-radius: 10px;
}
.rmembers {
    background-color: #cdd4e090;
    border-radius: 6px;
}
.devprop {
    border-radius: 10px;
}
.actmember {
    border-radius: 4px;
} 
.psvmember {
    border-radius: 4px;
}
.devclaim {
    border-radius: 10px;
}
