html {
    background: url(houseofconsort.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    color: #290d0d;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 20px;
    background-color: #e1e5e090;
    margin: auto;
    padding: 8px;
    overflow: auto;
}
.deverror {
    border: 8px solid #aa0000;
    border-radius: 3px;
    overflow: auto;
    background-color: #A7A7A790;
		padding: 4px;
}
div {
    overflow: auto;
}
.room {
    background-color: #A7A7A790;
    margin: 10px;
    padding: 8px;
    border: 3px solid #106610;
    border-radius: 15px;
    overflow: auto;
}
.myroom {
    background-color: #A7B7A790;
    margin: 10px;
    padding: 8px;
    border: 5px solid #106610;
    border-radius: 15px;
    overflow: auto;
}
.rname {
    margin-bottom: 3px;
    font-size: 120%;
    font-weight: bold;
}
.rdesc {
    font-size: 70%;
}
.donate {
    margin: 10px;
    padding: 8px;
}
.rmembers {
    background-color: #CDE0CD90;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    line-height: 2.4em;
    overflow: auto;
}
.devproptitle {
    font-weight: bold;
}
.devprop {
    background-color: #EDDBD890;
    margin: 10px;
    padding: 8px;
    border: 3px solid #644944;
    border-radius: 15px;
    overflow: auto;
}
table {
    border: 2px solid #644944;
    border-radius: 5px;
}
tr {
    background-color: #b7cef1;
}
.actmember {
    background-color: #dcc378;
    padding: 5px;
    border-radius: 7px;
    color: #000000;
    font-weight: bold;
    white-space: nowrap;
}
.psvmember {
    background-color: #d6d6d6;
    color: #666666;
    padding: 5px;
    border-radius: 7px;
    white-space: nowrap;
}
.actlistener {
    background-color: #4096d6;
    padding: 5px;
    border-radius: 0px;
    color: #000000;
    font-weight: bold;
    white-space: nowrap;
    font-size: small;
}
.psvlistener {
    background-color: #abc4d6;
    color: #666666;
    padding: 5px;
    border-radius: 0px;
    white-space: nowrap;
    font-size: small;
}
.roomsettingstoggle {
    float: right;
}
.roomsettingstitle {
    font-weight: bold;
}
.foto {
    font-size: x-small;
}
.devclaim {
    background-color: #EDDBD890;
    margin: 10px;
    padding: 8px;
    border: 3px solid #644944;
    border-radius: 15px;
    overflow: auto;
}
a.mixer {
    background-color: #909990;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    line-height: 2.2em;
    overflow: auto;
}
div.mixer {
    background-color: #9fae9d90;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    overflow: auto;
}
.kick {
    margin: 0px;
    padding: 0px;
    color: #700000;
    font-weight: bold;
}
.latency {
    font-size: x-small;
}
.expert {
    background-color: #77777750;
    border: 2px solid #a02020;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;
}
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
	margin-left: 4px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5f8757;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5f8757;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
} 
