body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 20px;
    background-color: #e1e5e0;
    margin: 10px;
}
.room {
    background-color: #A7A7A7;
    margin: 10px;
    padding: 8px;
    border: 3px solid #106610;
    border-radius: 15px;
}
.myroom {
    background-color: #A7B7A7;
    margin: 10px;
    padding: 8px;
    border: 5px solid #106610;
    border-radius: 15px;
}
.rname {
    margin-bottom: 3px;
    font-size: 120%;
    font-weight: bold;
}
.donate {
    margin: 10px;
    padding: 8px;
}
.rmembers {
    background-color: #CDE0CD;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
}
.devprop {
    background-color: #EDDBD8;
    margin: 10px;
    padding: 8px;
    border: 3px solid #644944;
    border-radius: 15px;
}
table {
    border: 2px solid #644944;
    border-radius: 5px;
}
tr {
    background-color: #b7cef1;
}
